@import '../variables.scss';

#recPageBack {
  background-image: url('https://images.unsplash.com/photo-1556911220-bff31c812dba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=835&q=80');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-width: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #919191;
}
#recipeImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#recipeImage {
  width: auto;
  margin: 20px;
  border-radius: 5px;
}
#recipeTitle {
  font-family: $roboto;
  text-align: center;
  font-size: 60px;
  height: 40px;
}
#recipeDesc {
  font-family: $roboto;
  text-align: center;
  font-size: 16px;
}
#miniContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
}
#servingsTitle {
  font-family: $roboto;
  font-size: 14px;
}
#ingredientsTitle {
  font-family: $roboto;
  font-size: 30px;
}
#ingredientsList {
  list-style-type: none;
  #ingredient {
    text-align: left;
    font-family: $roboto;
    margin: 20px;
    font-size: 20px;
  }
}
#specialBtn {
  color: rgb(1, 92, 128);
  font-size: 10px;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid black;
}

#directionsTitle {
  font-family: $roboto;
  font-size: 30px;
  margin-left: 20px;
}

#directionsList {
  #listContainer {
    display: flex;
    align-items: center;
  }
  #direction {
    font-family: $roboto;
    text-align: left;
    font-family: $roboto;
    margin: 20px;
    font-size: 20px;
  }
}
#buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#backButton {
  color: black;
  text-align: center;
  border: 3px solid black;
  width: 400px;
}
#backLink {
  text-decoration: none;
  color: black;
}
#saleItem {
  font-family: $roboto;
  text-align: center;
  font-size: 30px;
  height: 30px;
}
#specialTitle {
  font-size: 20px;
  font-family: $roboto;
}
#specialText {
  font-size: 20px;
  font-family: $roboto;
}
#special {
  margin: 10px;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: rgb(1, 92, 128) !important;
}
