@import '../variables.scss';

#addContainer {
}
#largeFormContainer {
  height: 200px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#firstFormTitle {
  font-family: $roboto;
  font-size: 26px;
  margin-top: 10px;
}
#firstQuestion {
  width: 300px;
  text-align: left;
  margin-left: 10px;
}
#dropdown {
  width: 350px;
}
#recipeInputContainer {
  display: flex;
  align-items: center;
}
#recipeCardTitle {
  height: 50px;
}
#inputContainer {

}
.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.recipeInputTitles {
  font-family: $roboto;
  font-size: 18px;
  margin-right: 20px;
}
.recipeInputs {
  width: 400px;
  margin: 10px;
}
#submitRecipeBtn {
  color: black;
  text-align: center;
  border: 3px solid black;
  width: 510px;
}
#addNewIngredientBtn {
  color: black;
  text-align: center;
  border: 3px solid black;
  width: 200px;
  margin-bottom: 20px;
}
#submitIngredient {
  color: black;
  text-align: center;
  border: 3px solid black;
  margin: 10px;
}
#addNewDirectionBtn {
  color: black;
  text-align: center;
  border: 3px solid black;
  width: 200px;
}
#submitDirection {
  color: black;
  text-align: center;
  border: 3px solid black;
}

#addIngredientTitle {
  font-family: $roboto;
  text-align: center;
}
.ingDirFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ingDirInputFields {

}
.inputIngRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}